html{
    font-size: 62.5%;
}

  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


body{
    font-family: sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img{
    max-width: 100%;
}


.contenedor{
    max-width:120rem;
    margin-left: 15rem;
    margin-right: 15rem;
}
 
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;}
}
 h4{
    font-size: 2.6rem;
 }     

   /*HEADER*/
.site-header.inicio{
    background-image: url(../img/header.jpg);
    background-position:center center;
    background-size: cover;
    color: white;
height: 100vh;
min-height:40rem 
}

.contenido-header{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1{
    color: white;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}


.barra{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-top: 3rem;
}

/*navegación*/
.navegación a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    margin-right: 2rem;
}

.navegación a: last-pf-type{
    margin: 0;
}

.navegación a:hover{
    color: green;
}
/*iconos*/
.encabezado-nosotros{
    font-weight: 300;
    text-align: center;
}

.icono-nosotros{
    display: flex;
    justify-content: space-between;
}

.icono{
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}
.icono h3{
    text-transform: uppercase;
    margin-bottom: 0;
}

/*anuncios*/
.contenedor-anuncios{
    display: flex;
    justify-content: space-between;
}

.anuncio{
    flex-basis: calc(33.3% - 1rem);
    border: 1px solid #b5b5b5;
    background-color: #fd4e4e;
}

.contenido-anuncio{
    padding: 0 2rem 0 2rem                 
}

.contenido-anuncio h3,
.contenido-anuncio p{
    margin: 0
}
.contenido-anuncio h3{
    font-size: 2.2rem;
    font-weight: 100;
    line-height: 2;
}

.precio{
    color: #71B100;
    font-weight: 700;
}

/*BOTONES*/
.boton{
    color: white;
    border: 1px solid grey;
    font-weight: 300;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
}

.boton-amarillo{
    background-color: #e08709;
    display: block;

}

.boton-verde{
    background-color: #71B100;
}

.texto-centrado{
    text-align: center;
}

.ver-todas{
    display: flex;
    justify-content: flex-end;
}

.imagen-contacto{
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 30rem;
    display: flex;
    align-items: center;
}

.contenido-contacto{
    flex: 1;
    color: white;
}
.contenido-contacto p{
    font-size: 2rem;
}